.title {
  font-family: inherit;
  line-height: 1.2;
  margin-bottom: .5rem;
  text-align: left;
  font-weight: 400;
  letter-spacing: 0rem;
}

.shop-name {
  font-family: 'Pacifico', sans-serif;
  text-align: center;
}

.block-title {
  font-size: 1.1rem;
}

.btn-success {
  background-color: #6c9f7f !important;
  border-color: #6c9f7f !important;
  color: white !important;
}

.btn-disabled {
   pointer-events: none;
   cursor: default;
   color: white;
   background-color: #28a745;
}

.paypal-img {
  width: 60px;
}

.paypal-logo-img {
  width: 15px;
}

.lined { 
  display: flex; 
  flex-direction: row;
  font-size: 0.85em;
  line-height: 1;
  text-align: center;
  color: #737373;
} 

.lined:before,
.lined:after {
  content: ""; 
  flex: 1 1; 
  border-bottom: 0.025px solid #e6e6e6; 
  margin: 0.5em 1em;
}

.card {
  width: 100%;
  margin: 0em;
}

.card-header {
  background-color: white;
}

.card-body,
.card-body:hover {
  background-color: #fafafa;
  padding: 25px 40px;
}

.fa-paypal {
  font-size: 8rem;
  color: #b4b4b4;
}

.regular-text {
  font-size: 0.8rem;
}

.navbar-toggler {
  font-size: 1rem!important;
  background-color: #FAFAFA !important;
}

#sidebar-toggler {    

  @media (max-width: 767.98px) {
      display: block;
  }
  
  @media (min-width: 768px) {
      display: none;
  }
}

#orderSummary {

  @media (min-width: 768px) {
      display: block;
  }
}

.text-green {
  color: #6c9f7f !important;
}