<h6 class="admin-title mb-1 mb-md-3">Manage Products</h6>
<div class="container mb-3">
  <div class="d-block d-md-none" id="createProductBtn">
    <button type="button" class="btn btn-info btn-sm pointer" [routerLink]="['/admin/products/create']"><i class="fas fa-plus"></i></button>
  </div>
  <div class="row">
    <div class="col text-left px-0">
      <a class="btn btn-link text-muted mr-2 pl-0 regular-text"><i class="fas fa-download mr-2"></i> Export</a>
      <button class="btn btn-light btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        More actions
      </button>
      <div class="dropdown-menu" id="more-actions" aria-labelledby="dropdownMenuButton">
        <!-- <a class="dropdown-item" data-toggle="modal" data-target="#deleteProductsModal">Delete</a> -->
        <a class="dropdown-item">Import</a>
      </div>
    </div>
    <div class="col-auto text-right px-0 d-none d-md-block">
      <button type="button" class="btn btn-info btn-sm" [routerLink]="['/admin/products/create']"><i class="fas fa-plus"></i> Create Product</button>
    </div>
  </div>
  <div class="row mt-3 bg-white border">
    <div class="nav-scroller">
      <nav>
        <div class="nav" id="nav-tab" role="tablist">
          <a class="nav-link px-3 px-md-4 active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All Products</a>
        </div>
      </nav>
    </div>
  </div>
  <div class="row pt-4 bg-white border border-bottom-0">
    <div class="col-12 col-lg">
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="dropdown">
            <button class="btn regular-input dropdown-toggle" type="button" type="button" id="filterButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Filter</button>
            <div class="dropdown-menu pl-2 pr-2" aria-labelledby="filterButton">
              <a class="dropdown-item form-check" (click)="filterBy(PRODUCT_NAME)">
                <input class="form-check-input" type="radio" name="filterBy" id="productName" [value]="PRODUCT_NAME" checked>
                <label class="form-check-label" for="productName">
                  {{ PRODUCT_NAME }}
                </label>
              </a>
              <a class="dropdown-item form-check" (click)="filterBy(CATEGORY_NAME)">
                <input class="form-check-input" type="radio" name="filterBy" id="categoryName" [value]="CATEGORY_NAME">
                <label class="form-check-label" for="categoryName">
                  {{ CATEGORY_NAME }}
                </label>
              </a>
            </div>
          </div>
        </div>
        <div class="input-group-prepend">
            <span class="input-group-text text-muted border-right-0" id="validatedInputGroupPrepend"><i class="fas fa-search"></i></span>
        </div>
        <div class="custom-file">
          <input type="text" class="search custom-input pl-1" placeholder="Search products" [(ngModel)]="searchText" autocomplete="off">
        </div>
      </div>
    </div>
    <div class="col-12 pt-2 pt-lg-0 col-lg-auto text-right">
      <div class="row justify-content-around justify-content-md-start">
        <form [formGroup]="sortFormGroup">
          <div class="col-auto">
            <label for="sortBy" class="mr-2 d-none d-md-inline-block">Sort by</label>
            <select class="btn regular-input px-2 pl-md-3 pr-md-4" id="sortBy" formControlName="sortBy" (change)="sortProducts()">
              <option class="mt-2 mb-3 regular-text text-muted font-weight-bold" disabled>Sort by</option>
              <option [value]="SortType.PRODUCT_A_TO_Z">{{ SortType.PRODUCT_A_TO_Z }}</option>
              <option [value]="SortType.PRODUCT_Z_TO_A">{{ SortType.PRODUCT_Z_TO_A }}</option>
            </select>
          </div>
        </form>
        <div class="col-auto d-inline-block d-md-none">
          <button type="button" class="btn btn-sm btn-outline-dark" (click)="showSelect()">
            <i class="far fa-check-square mr-1" *ngIf="!isSelectVisible"></i>
            <i class="far fa-square mr-1" *ngIf="isSelectVisible"></i> Select
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row pt-1 bg-white border border-top-0">
    <div class="container-fluid d-block d-md-none pt-3">
      <div class="row border-top py-3 on-hover" [routerLink]="isSelectVisible ? [] : ['/admin/products', product?._id]" *ngFor="let product of products | filterProduct : SearchBarFilter: searchText; let i=index">
        <div class="col-auto" *ngIf="isSelectVisible">
          <input type="checkbox" [id]="product?._id" class="checkbox" [value]="isProductSelected(product?._id)" (click)="toggleSelection(product)">
        </div>
        <div class="col-3">
          <img class="img-thumbnail" [src]="product?.images[0].url" *ngIf="product?.images.length > 0">
          <img class="img-thumbnail" src="../../assets/default-plant.jpg" *ngIf="product?.images.length <= 0">
        </div>
        <div class="col text-left">
          <a class="underline pointer text-primary"><strong>{{ product?.name }}</strong></a>
          <br>
          <span>Stocks: {{ product?.stock }}</span>
        </div>
        <div class="col text-right text-muted">
          <span>NZD {{ (product.price/100).toFixed(2) }}</span>
        </div>
      </div>
    </div>
    <div class="table-responsive d-none d-md-block d-lg-none">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-auto"><input type="checkbox" id="toggleAll" (click)="toggleAll()"></th>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody *ngIf="(products)?.length > 0">
          <tr class="on-hover" *ngFor="let product of products | filterProduct : SearchBarFilter : searchText; let i=index">
            <td class="col-auto"><input type="checkbox" [id]="product?._id" class="checkbox" [value]="isProductSelected(product?._id)" (click)="toggleSelection(product)"></td>
            <td class="col-2">
              <img class="img-thumbnail" [src]="product?.images[0].url" *ngIf="product?.images.length > 0">
              <img class="img-thumbnail" src="../../assets/default-plant.jpg" *ngIf="product?.images.length <= 0">
            </td>
            <td>
              <span [routerLink]="['/admin/products', product?._id]" routerLinkActive="router-link-active" routerLink="/admin/products/{{product?._id}}" routerLinkActive="router-link-active" class="underline pointer text-primary"><strong>{{ product?.name }}</strong></span><br>
            </td>
            <td>{{ product?.stock }}</td>
            <td class="col-auto text-nowrap">NZD {{ (product?.price/100).toFixed(2) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="table-responsive d-none d-lg-block">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="pr-0"><input type="checkbox" id="toggleAll" (click)="toggleAll($event.target)"></th>
            <th scope="col"></th>
            <th scope="col">Product</th>
            <th scope="col">Category</th>
            <th scope="col">Stock</th>
            <th scope="col">Price</th>
          </tr>
        </thead>
        <tbody *ngIf="(products)?.length > 0">
          <tr class="on-hover" *ngFor="let product of products | filterProduct : SearchBarFilter : searchText; let i=index">
            <td class="pr-0"><input type="checkbox" [id]="product?._id" class="checkbox" [value]="isProductSelected(product?._id)" (click)="toggleSelection(product)"></td>
            <td class="col-2">
              <img class="img-thumbnail" [src]="product?.images[0].url" *ngIf="product?.images.length > 0">
              <img class="img-thumbnail" src="../../assets/default-plant.jpg" *ngIf="product?.images.length <= 0">
            </td>
            <td [routerLink]="['/admin/products', product?._id]" routerLinkActive="router-link-active" routerLink="/admin/products/{{product?._id}}" routerLinkActive="router-link-active" class="underline pointer text-primary"><strong>{{ product?.name }}</strong></td>
            <td>{{ product?.category[0].name }}</td>
            <td>{{ product?.stock }}</td>
            <td class="col-auto text-nowrap">NZD {{ (product?.price/100).toFixed(2) }}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row pb-3" *ngIf="(products)?.length === 0" style="width:100%;">
      <span class="col-12">
        No products available.
      </span>
    </div>
  </div>
  <div class="justify-content-center bg-white" *ngIf="isProductsLoading">
    <img class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="> Retrieving products
  </div>
</div>

<!-- Delete Products Modal -->
<div class="modal fade" id="deleteProductsModal" tabindex="-1" role="dialog" aria-labelledby="deleteProductsTitle" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteProductsTitle">Delete Product</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete products?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="deleteProducts()">Delete</button>
      </div>
    </div>
  </div>
</div>