.btn.btn-social {
  color: #6c757d;
  background-color: transparent;
  font-size: 1rem;
  border-radius: 0!important;
}

.title {
  font-family: inherit;
  line-height: 1.2;
  margin-bottom: .5rem;
  text-align: left;
  font-weight: 300;
  letter-spacing: .1rem;
}

.submitBtn {
  background-color: #6c9f7f !important;
  border-color: #6c9f7f !important;
  color: white !important;
}

@media only screen and (max-width:700px) {

  .submitBtn {
    width: 100%;
  }
}