<div class="container-fluid bg-white">
  <div class="row">
  <div class="col-md-8 py-5">
    <h4 class="title text-center mb-5">We'd love to hear from you!</h4>
    <form [formGroup]="contactUsFormGroup" class="container">
      <fieldset>
        <div class="form-group row justify-content-center">
          <label for="name" class="col-sm-2 col-md-3 col-lg-2 col-form-label text-left">Name</label>
          <div class="col-sm-8 col-md-9 col-xl-7">
            <input type="text" class="form-control" id="name" formControlName="name" placeholder="Name">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="contact" class="col-sm-2 col-md-3 col-lg-2 col-form-label text-left">Contact</label>
          <div class="col-sm-8 col-md-9 col-xl-7">
            <input type="text" class="form-control" id="contact" formControlName="contact" placeholder="Contact">
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="email" class="col-sm-2 col-md-3 col-lg-2 col-form-label text-left">Email *</label>
          <div class="col-sm-8 col-md-9 col-xl-7">
            <input type="email" class="form-control" id="email" formControlName="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            <p class="text-danger" *ngIf="!!contactUsFormGroup.controls.email.errors?.pattern && submitted">Invalid email</p>
            <p class="text-danger" *ngIf="!!contactUsFormGroup.controls.email.errors?.required && submitted">Email is required</p>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="type" class="col-sm-2 col-md-3 col-lg-2 col-form-label text-left">Type *</label>
          <div class="col-sm-8 col-md-9 col-xl-7">
            <select class="form-control" id="type" formControlName="type">
              <option value="Inquiry">Inquiry</option>
              <option value="Feedback">Feedback</option>
              <option value="Others">Others</option>
            </select>
            <p class="text-danger" *ngIf="!!contactUsFormGroup.controls.type.errors?.required && submitted">Type is required</p>
          </div>
        </div>
        <div class="form-group row justify-content-center">
          <label for="message" class="col-sm-2 col-md-3 col-lg-2 col-form-label text-left">Message *</label>
          <div class="col-sm-8 col-md-9 col-xl-7">
            <textarea rows="5" class="form-control" id="message" formControlName="message" placeholder="Type your message here"></textarea>
            <p class="text-danger" *ngIf="!!contactUsFormGroup.controls.message.errors?.required && submitted">Message is required</p>
          </div>
        </div>
        <div class="row justify-content-center">* Required</div>
        <div class="row justify-content-center mt-3">
          <div class="col col-md-11 col-xl-9 px-md-0 px-lg-3 justify-content-center justify-content-md-end">
            <button type="button" class="btn btn-primary mx-0 px-md-4 px-lg-5 py-2 submitBtn text-uppercase float-md-right" [disabled]="this.contactUsFormGroup.invalid || loading" (click)="submit()">Send Message</button>
            <img *ngIf="loading" class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-md-4 bg-light text-secondary">
    <div class="container-fluid pt-4">
      <div class="row justify-content-center">
        <div class="col text-center">
          <img src="../assets/defaultprofileimage.svg" class="rounded-circle" width="150px">
        </div>
      </div>
      <div class="row justify-content-center mt-3">
        <div class="col">
          <p class="text-center"><strong>Hey there! I am Carlos.</strong></p>
          <p class="text-justify" *ngIf="content?.jumbotronDescription">{{ content?.jumbotronDescription }}</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          <button type="button" class="btn btn-outline-secondary btn-sm text-uppercase" [routerLink]="['/aboutus']">To know more about us</button>
        </div>
      </div>
      <hr class="mt-5">
      <div class="row justify-content-center">
        <div class="col text-center">
          <a class="btn btn-social" *ngIf="socialMedia?.facebook" [href]="socialMedia?.facebook"><i class="fab fa-facebook-f"></i></a>
          <a class="btn btn-social" *ngIf="socialMedia?.instagram" [href]="socialMedia?.instagram"><i class="fab fa-instagram"></i></a>
          <a class="btn btn-social" *ngIf="socialMedia?.trademe" [href]="socialMedia?.trademe"><img class="fab" src="../assets/trademe-gray.png" style="width:20px;height:20px;"></a>
          <a class="btn btn-social" *ngIf="socialMedia?.twitter" [href]="socialMedia?.twitter"><i class="fab fa-twitter"></i></a>
          <a class="btn btn-social" *ngIf="socialMedia?.youtube" [href]="socialMedia?.youtube"><i class="fab fa-youtube"></i></a>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>

<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageTitle">Message sent!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
        <p>We have received your message.<br>We will get back to you as soon as we can.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>