<div class="container bg-white pt-5 pb-5 text-center justify-content-center justify-content-around">
    <div class="row justify-content-around d-flex justify-content-center">
        <h4>{{ name }}, thank you for your order!</h4>
    </div>
    <div class="row mt-1 mt-sm-2 mt-md-4 justify-content-around d-flex justify-content-center">
        <div class="col-12 col-sm-9 col-md-7 pl-5 pr-5 pt-3 pb-3 alert alert-success">
            <h5 class="text-uppercase">Order Confirmation</h5>
            <p>We've received your order and will contact you as soon as possible.<br>
            You can track your order <a href="/track-order" class="text-green"><u>here</u></a>.</p>
            <h6>Tracking Code: {{ trackingCode }}</h6>
        </div>
    </div>
</div>