.title {
    font-weight: 400;
    font-size: 1.3rem;
}

.text-blue {
    color: #17a2b8;
}

.text-green {
    color: rgb(143, 189, 116);
}

.order-id {
    font-size: 0.8rem;
    font-weight: 400;
}

.status {
    font-size: 0.8rem;
    font-weight: 500;
}

.regular-text {
    font-size: 0.8rem;
    font-weight: 400!important;
}

.custom-input {
    width: 100%;
}