.title {
    font-weight: 400;
    font-size: 1.3rem;
}

.text-blue {
    color: #17a2b8;
}

.text-green {
    color: rgb(143, 189, 116);
}

.order-id {
    font-size: 0.8rem;
    font-weight: 400;
}

.status {
    font-size: 0.8rem;
    font-weight: 500;
}

.regular-text {
    font-size: 0.8rem;
    font-weight: 400!important;
}

.custom-input {
    width: 100%;
}

// @media (max-width: 767.98px) {
@media (max-width: 929.99px) {
    #order-details-div, #customer-div, #timeline-div {
        width: 100% !important;
    }
    
}
// @media (min-width: 768px) {
@media (min-width: 930px) {

    #order-details-div, #timeline-div {
        width: 65% !important;
        float: left !important;
        clear: left !important;
    }
    
    #customer-div {
        width: 32% !important;
        float: right !important;
    }
}