<div class="container">
  <h2 class="title mt-5">Indoor Plants NZ</h2>
  <div class="d-flex justify-content-center align-items-center">
    <form  [formGroup]="registerUserFormGroup" class="col-md-10 col-lg-8 border text-center mt-3 py-4 px-3">
      <h6>Register New User</h6>
      <div class="alert alert-danger alert-dismissable fade show" *ngIf="registerError" role="alert">
        {{ registerError }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="alert alert-success alert-dismissable fade show" *ngIf="registerSuccess" role="alert">
        {{ registerSuccess }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="form-group row">
        <label for="username" class="col-sm-4 col-form-label text-left">Username</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" id="username" formControlName="username" placeholder="Username">
          <p class="text-danger" *ngIf="!!registerUserFormGroup.controls.username.errors?.required && submitted">Username is required</p>
        </div>
      </div>
      <div [formGroup]="passwordFormGroup">
        <div class="form-group row">
          <label for="password" class="col-sm-4 col-form-label text-left">Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control form-control-sm" id="password" formControlName="password" placeholder="Password">
            <p class="text-danger" *ngIf="!!passwordFormGroup.controls.password.errors?.required && submitted">Password is required</p>
          </div>
        </div>
        <div class="form-group row">
          <label for="repeatPassword" class="col-sm-4 col-form-label text-left">Re-type Password</label>
          <div class="col-sm-8">
            <input type="password" class="form-control form-control-sm" id="repeatPassword" formControlName="repeatPassword" placeholder="Re-type Password">
            <p class="text-danger" *ngIf="!!passwordFormGroup.controls.repeatPassword.errors?.required && submitted">Re-type password is required</p>
            <p class="text-danger" *ngIf="!!passwordFormGroup.errors?.doesMatchPassword">Password does not match</p>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label text-left">Name</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" id="name" formControlName="name" placeholder="Name">
          <p class="text-danger" *ngIf="!!registerUserFormGroup.controls.name.errors?.required && submitted">Name is required</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-4 col-form-label text-left">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control form-control-sm" id="email" formControlName="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
          <p class="text-danger" *ngIf="!!registerUserFormGroup.controls.email.errors?.pattern && submitted">Invalid email</p>
          <p class="text-danger" *ngIf="!!registerUserFormGroup.controls.email.errors?.required && submitted">Email is required</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="contact" class="col-sm-4 col-form-label text-left">Contact</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" id="contact" formControlName="contact" placeholder="Contact Number">
          <p class="text-danger" *ngIf="!!registerUserFormGroup.controls.contact.errors?.required && submitted">Contact is required</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label text-left">Address</label>
        <div class="col-sm-8">
          <input type="text" class="form-control form-control-sm" id="address" formControlName="address" placeholder="Address">
          <p class="text-danger" *ngIf="!!registerUserFormGroup.controls.address.errors?.required && submitted">Address is required</p>
        </div>
      </div>
      <div class="row justify-content-center">
        <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal" (click)="resetForm()">Reset</button>&nbsp;
        <button type="button" class="btn btn-primary btn-sm" [disabled]="loading" (click)="createNewUser()">Create New User</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
      </div>
    </form>
  </div>
</div>
