<div class="wrapper" *ngIf="!isAdmin && !isLogin && !isCustomerOrder">
    <div class="header">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="navbar-brand">
                <a class="btn btn-link" *ngIf="socialMedia?.facebook" [href]="socialMedia?.facebook"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-link" *ngIf="socialMedia?.instagram" [href]="socialMedia?.instagram"><i class="fab fa-instagram"></i></a>
                <a class="btn btn-link" *ngIf="socialMedia?.trademe" [href]="socialMedia?.trademe"><img class="fab" src="../assets/trademe-white.png" style="width:20px;height:20px;"></a>
                <a class="btn btn-link" *ngIf="socialMedia?.twitter" [href]="socialMedia?.twitter"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-link" *ngIf="socialMedia?.youtube" [href]="socialMedia?.youtube"><i class="fab fa-youtube"></i></a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggler">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white text-center font-weight-light">{{ contact?.email }} <i class="fas fa-envelope"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-white text-center font-weight-light" routerLink="/cart">SHOPPING CART <i class="fas fa-shopping-cart"></i></a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link text-white text-center font-weight-light" routerLink="/login">LOGIN <i class="fas fa-user-circle"></i></a>
                    </li> -->
                </ul>
            </div>
        </nav>

        <div class="container-fluid pt-2 pb-2 bg-light-yellow">
            <div class="row justify-content-center">
              <div class="col-4 col-md-3 col-lg-2">
                <img src="../assets/logo_transparent_background.png" class="d-block w-100" alt="The Foliage Fix">
              </div>
            </div>
        </div>

        <div class="container-fluid bg-white text-center">
            <ul class="row nav justify-content-around no-gutters">
                <div class="col-lg-2"></div>
                <li class="col-12 col-sm-auto col-lg-2 nav-item">
                    <a class="nav-link text-uppercase text-center text-nowrap active" routerLink="/">Home</a>
                </li>
                <li class="col-12 col-sm-auto col-lg-2 nav-item">
                    <a class="nav-link text-uppercase text-center text-nowrap" routerLink="/aboutus">About Us</a>
                </li>
                <li class="col-12 col-sm-auto col-lg-2 nav-item">
                    <a class="nav-link text-uppercase text-center text-nowrap" routerLink="/products">Products</a>
                </li>
                <li class="col-12 col-sm-auto col-lg-2 nav-item">
                    <a class="nav-link text-uppercase text-center text-nowrap" routerLink="/contactus">Contact Us</a>
                </li>
                <div class="col-lg-2"></div>
            </ul>
        </div>
    </div>

    <div class="content">
        <!-- <router-outlet></router-outlet> -->
        <ng-container *ngTemplateOutlet="template"></ng-container>
    </div>

    <div class="footer">
        <div class="container-fluid bg-gray pt-4 pb-5">
            <div class="row justify-content-around d-flex align-items-center">
                <div class="col-lg-1"></div>
                <div class="col-sm-4 col-lg-3">
                    <h6 class="sub-title text-uppercase"><small><strong>Buy Now</strong></small></h6>
                    <h2 class="title">{{ content?.shopName }}</h2>
                    <div class="text-center">
                        <p><small>{{ content?.footerDescription }}</small></p>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3">
                    <h6 class="sub-title text-uppercase"><small><strong>Quick Links</strong></small></h6>
                    <div class="container">
                        <div class="row">
                            <div class="col-6">
                                <a routerLink="/" class="text-body">Home</a><br>
                                <a routerLink="/aboutus" class="text-body">About Us</a><br>
                                <a routerLink="/products" class="text-body">Products</a><br>
                                <a routerLink="/contactus" class="text-body">Contact Us</a>
                            </div>
                            <div class="col-6">
                                <a class="text-body">Track Order</a><br>
                                <a class="text-body">Shopping Cart</a><br>
                                <a class="text-body">Feedback</a><br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-lg-3 text-center">
                    <h6 class="sub-title text-uppercase"><small><strong>Subscribe Now</strong></small></h6>
                    <form [formGroup]="">
                        <div class="form-group">
                            <label for="subscribeEmailInput" class="sr-only">E-mail address</label>
                            <input type="email" class="form-control text-center" id="subscribeEmailInput" placeholder="E-mail address">
                        </div>
                        <button type="button" class="btn btn-black text-uppercase">Sign Up</button>
                    </form>
                    <hr>
                    <a class="btn btn-social" *ngIf="socialMedia?.facebook" [href]="socialMedia?.facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-social" *ngIf="socialMedia?.instagram" [href]="socialMedia?.instagram"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-social" *ngIf="socialMedia?.trademe" [href]="socialMedia?.trademe"><img class="fab" src="../assets/trademe-black.png" style="width:20px;height:20px;"></a>
                    <a class="btn btn-social" *ngIf="socialMedia?.twitter" [href]="socialMedia?.twitter"><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-social" *ngIf="socialMedia?.youtube" [href]="socialMedia?.youtube"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>

        <div class="container-fluid top-bottom-bar text-center bg-dark text-white text-uppercase">
            <!-- {{ contact?.address }} | {{ contact?.contactNo }} | {{ contact?.email }} -->
            {{ contact?.email }}
            <span *ngIf="socialMedia?.trademe"> | Trademe: <a [href]="socialMedia?.trademe" class="text-white">@indoorplantsnz</a></span>
        </div>
    </div>
</div>

<div class="wrapper" *ngIf="isLogin">
  <div class="header">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div class="navbar-brand">
        <!-- <h6 class="title">Indoor Plants NZ</h6> -->
      </div>
    </nav>
  </div>
  <div class="content">
    <!-- <router-outlet></router-outlet> -->
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
</div>

<div class="wrapper" *ngIf="isAdmin">
    <div class="header">
      <nav class="navbar navbar-expand-md navbar-dark bg-gradient py-2">
        <div class="navbar-brand">
          <img src="../assets/white_logo_transparent_background.png" alt="The Foliage Fix">
        </div>
        <div class="navbar-profile d-flex align-items-center">
          <ul class="navbar-nav ml-auto mt-lg-0">
            <li class="nav-item">
              <a class="nav-link text-white text-center font-weight-light" href="#">Hello, <u>{{ currentUser?.username }}</u>!</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="content">
      <div class="container-fluid bg-white text-center wrapper">
        <div class="row" id="sidebar-row">
          <div class="col-12 col-md-4 col-lg-3 bg-white py-2" id="sidebar-toggler">
            <button type="button" class="btn bg-transparent text-dark float-left navbar-toggler navbar-toggle collapsed" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false">
              <i class="fas fa-bars"></i>
            </button>
          </div>
        </div>
        <div class="row content">
          <div class="col-12 col-md-4 col-lg-3 text-left dashboard pt-3 pl-lg-4 bg-light collapse navbar-collapse" id="sidebar">
            <h5 class="head">Dashboard</h5>
            <ul class="list-group list-unstyled">
              <li class="list-group-item bg-transparent" [routerLink]="['/admin']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info" [routerLinkActiveOptions]="{exact:true}"><i class="fas fa-home text-muted mr-1"></i> Overview</li>
              <li class="list-group-item bg-transparent" [routerLink]="['/admin/accounts']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info" *ngIf="currentUser?.role === 'superuser'"><i class="fas fa-users-cog text-muted mr-1"></i> Admin Accounts</li>
              <li class="list-group-item bg-transparent" [routerLink]="['/admin/content']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info"><i class="fas fa-info-circle text-muted mr-1"></i> Website Content</li>
            </ul>
            <h5 class="head mt-4">Store</h5>
            <ul class="list-group list-unstyled">
              <li class="list-group-item bg-transparent"><i class="fas fa-download text-muted mr-1"></i> Orders</li>
                <ul class="list-group list-unstyled sub-list mb-1">
                  <li class="list-group-item bg-transparent sub-list-item" [routerLink]="['/admin/orders']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info" [routerLinkActiveOptions]="{exact:true}">All orders</li>
                  <li class="list-group-item bg-transparent sub-list-item" [routerLink]="['/admin/orders']" [queryParams]="{archived: 'true'}" routerLinkActive="router-link-active" routerLinkActive="active-link text-info">Archived</li>
                </ul>
              <li class="list-group-item bg-transparent" [routerLink]="['/admin/categories']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info"><i class="fab fa-elementor text-muted mr-1"></i> Categories</li>
              <li class="list-group-item bg-transparent" [routerLink]="['/admin/products']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info"><i class="fas fa-tags text-muted mr-1"></i> Products</li>
              <li class="list-group-item bg-transparent" [routerLink]="['/admin/customers']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info"><i class="fas fa-user text-muted mr-1"></i> Customers</li>
            </ul>
            <h5 class="head mt-4">Account</h5>
            <ul class="list-group list-unstyled">
              <li class="list-group-item bg-transparent" [routerLink]="['/admin/settings']" routerLinkActive="router-link-active" routerLinkActive="active-link text-info"><i class="fas fa-cog text-muted mr-1"></i> Settings</li>
              <li class="list-group-item bg-transparent" (click)="logout()"><i class="fas fa-sign-out-alt text-muted mr-1"></i> Logout</li>
            </ul>
          </div>
          <div class="col-12 col-md-8 col-lg-9 pt-4 bg-gray">
            <!-- <router-outlet></router-outlet> -->
            <ng-container *ngTemplateOutlet="template"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>

<div class="wrapper" *ngIf="isCustomerOrder">
  <div class="content">
    <!-- <router-outlet></router-outlet> -->
    <ng-container *ngTemplateOutlet="template"></ng-container>
  </div>
</div>


<ng-template #template>
  <router-outlet></router-outlet>
</ng-template>