.btn.btn-social {
    color: black;
    background-color: transparent;
    font-size: 1rem;
}

.text-muted {
    color: darkgray!important;
}

.header {
    z-index: 2;
}

.content {
    z-index: 1;
}

.dashboard {
  font-weight: 400;
  letter-spacing: 1.5px;

  .active-link {
    border: 0;
  }

  .list-group-item {
      border: 0px;
      padding: 0.5rem 0;
      cursor: pointer;

      i {
        width: 1.5rem;
      }
  }

  .list-group-item:hover {
    text-decoration: underline;
  }

  .list-group-item:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

  .head {
      font-weight: 300;
  }

  .sub-list {
    padding-left: 2rem;
    font-size: 0.9rem;
    color: darkgray;

    .sub-list-item {
        padding: 0.25rem 0;
        letter-spacing: 1px;
    }
  }
}

.navbar-profile {
  display: flex!important;
  flex-basis: auto;
  flex-grow: 1;

  .nav-link {
    letter-spacing: 2px;
  }
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 0.8rem;
    color: black;
    letter-spacing: 3px;
    padding-left: 20px;
    padding-right: 20px;
}

.nav-scroller {
    height: 2.75rem;
    overflow-y: hidden;
}

.nav-scroller .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 0.5rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.navbar-toggler {
    font-size: 0.8rem;
}

.bg-gradient {
    background-image: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}

.navbar {
    padding-top: 0px!important;
    padding-bottom: 0px!important;
    .btn {
        color: white;
        font-size: 0.8rem;
        letter-spacing: 2px;
        background: transparent;
    }

    .btn:hover {
        background: #262626;
        text-decoration: none;
    }

    .navbar-brand {
        padding-top: 1px;
        padding-bottom: 1px;

        img {
            width: 30%;
            max-width: 200px;
        }
    }

    .navbar-collapse {
        .nav-link {
            letter-spacing: 2px;
        }

        .nav-link:hover {
            background: #262626;
            text-decoration: none;
        }
    }
}

.topBar {
    background: #6c9f7f;
    color: white;

    div {
        margin: 0 auto;
    }

    span {
        letter-spacing: 0.1rem;

        @media (max-width: 449.99px) {
            font-size: 0.65rem;
        }

        @media (min-width: 450px) and (max-width: 767.99px) {
            font-size: 0.8rem;
        }

        @media (min-width: 768px) {
            font-size: 1rem;
        }
    }
}

// #sidebar .collapse {

//   @media (min-width: 768px) {
//       display: block;
//   }
// }

// #sidebar-row {
//   @media (min-width: 768px) {
//       display: none;
//   }
// }

// #sidebar-toggler {
//   @media (max-width: 767.98px) {
//       visibility: visible;
//   }
//   @media (min-width: 768px) {
//       visibility: collapse;
//   }
// }

#subscribeEmailInput {
    border: none;
    border-radius: 0;
}

#subscribeEmailInput:focus {
    outline-style: none;
    box-shadow: none;
    border-color: transparent;
}

.top-bottom-bar {
    height: 35px;
    line-height: 35px;
    font-size: 0.8rem;
    letter-spacing: 2px;

    @media (max-width: 767.98px) {
        font-size: 0.5rem;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.text-body {
    @media (max-width: 767.98px) {
        font-size: 0.8rem;
    }
    @media (min-width: 768px) and (max-width: 991.98px) {
        font-size: 0.9rem;
    }
    font-size: 1rem;
}

.title {
    font-family: 'Pacifico', sans-serif;
    text-align: center;
}

.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1;
    flex-grow: 1;
}

.shopping-cart-badge {
    border-radius: 2rem;
    padding: 4px 5px;
}

div.search {
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-out;
}

div.search.show {
    transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform-origin: right;
    transition: transform 250ms ease-in;
}

#searchPlantBtn {
    display: inline-block;
}

#searchPlantBtn.hide {
    display: none;
}

#searchInput {
    border-radius: 1.5rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    height: 100%;
}

.search {
    .input-group-append {
      .input-group-text {
          border-left: 0;
          background-color: transparent;
          border-radius: 1.5rem;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
      }
    }
}

.custom-file.dropdown {
    height: auto;
}

.dropdown-menu {
    width: 110%;
    will-change: transform;
}

.product-item {
    background-color: white;
}

.product-item:hover {
    background-color: whitesmoke;
}

@media only screen and (max-width:700px) {

    .navbar {
        padding: 0;
    }
}