.title {
    font-weight: 400;
    font-size: 1.3rem;
}

.sub-title {
    font-weight: 800!important;
    font-size: 0.9rem;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.7px;
}

.text-blue {
    color: #17a2b8;
}

.text-green {
    color: rgb(143, 189, 116);
}

.order-id {
    font-size: 0.8rem;
    font-weight: 400;
}

.status {
    font-size: 0.8rem;
    font-weight: 500;
}

.regular-text {
    font-size: 0.8rem!important;
    font-weight: 400!important;
}

.custom-input {
    width: 100%;
    height: 100%;
    border: 1px solid #6c757d;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    border-left: 0pt;
}

.regular-input {
    width: 100%;
    border: 1px solid #6c757d;
    border-left: 1px solid #6c757d !important;
    padding: 5px;
    border-radius: .25rem;
}

.input-group-prepend {
    background-color: white;
    border-right: 0pt;
}

#validatedInputGroupPrepend {
    background-color: white;
    border-color: #6c757d;
}

.product-item:hover {
    background-color: whitesmoke;
}

.badge {
    text-transform: none;
    border-radius: 0.1pt;
    background-color: #eceff1ea;
    border: 1px solid #9da1a3;
    color: black;
    font-weight: 300;
    font-size: 0.8rem;
}

.dropdown-menu {
    width: 100%;
}

.pagination {
    height: 100%;
}

.page-item .page-link {
    height: 100%;
    border: 1px solid #6c757d;
}

.page-item.active .page-link {
    border: 2px solid #6c757d;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#discountInput {
    border-top-right-radius: .25rem;
    border-bottom-right-radius: .25rem;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}