.img-thumbnail {
  width: 100px;
  height: 100px;
}

.media .badge {
  border-radius: 0;
  padding: 5px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.65em;
  font-weight: 500;
}

.media-body {
  position: relative;
}

.media-body .media-button {
  position: absolute;

  @media (max-width: 575px) {
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
  }
  @media (min-width: 576px) {
    top: 0;
    right: 0;
  }
}

p.description {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 75ch;
  max-height: 8.5ch;
}

#shoppingCart {
  .item {
    position: relative;
  }
  .close-btn {
    border: 0;
    background: transparent;
    position: absolute;
    right: 0;
    top: 0;
  }
}
