<h6 class="admin-title mb-3">Manage Website Content</h6>
<div class="container text-left pl-0">
  <div class="block">
  <h5 class="title">Homepage Content</h5>
  <form [formGroup]="editContentFormGroup">
    <div class="form-group row">
      <label for="shopName" class="col-lg-2 col-form-label col-form-label-sm">Shop Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="shopName" id="shopName" placeholder="Shop Name" value="{{ content?.shopName }}">
        <p class="text-danger" *ngIf="!!editContentFormGroup.controls.shopName.errors?.required && submitted">Shop Name is required</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="shopSubtitle" class="col-lg-2 col-form-label col-form-label-sm">Shop Name Subtitle</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="shopSubtitle" id="shopSubtitle" placeholder="Shop Name Subtitle" value="{{ content?.shopSubtitle }}">
        <p class="text-danger" *ngIf="!!editContentFormGroup.controls.shopSubtitle.errors?.required && submitted">Shop Subtitle is required</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="topBarContent" class="col-lg-2 col-form-label col-form-label-sm">Top Bar Content</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="topBarContent" id="topBarContent" placeholder="e.g. Shipping Fee: North Island - $12 South Island - $15" value="{{ content?.topBarContent }}">
        <p class="text-danger" *ngIf="!!editContentFormGroup.controls.topBarContent.errors?.required && submitted"></p>
      </div>
    </div>
    <div class="form-group row border-top border-bottom pt-2">
      <label for="jumbotronImage" class="col-lg-2 col-form-label col-form-label-sm">Slide Show</label>
      <div class="col-lg-10">
        <div class="container">
          <div class="row text-bold d-none d-md-flex">
            <div class="col-md-1 pl-1 pr-1 text-center" style="margin: 0 auto">
              <span class="regular-text">Image</span>
            </div>
            <div class="col-md pl-1 pr-1 text-center">
              <span class="regular-text">Title / Desription</span>
            </div>
            <div class="col-md-3 pl-1 pr-1 text-center">
              <span class="regular-text">URL</span>
            </div>
            <div class="col-md-2 pl-1 pr-1 text-center">
              <span class="regular-text">Action</span>
            </div>
            <div class="col-md-auto pl-1 pr-1"></div>
          </div>
          <div class="row border-bottom pt-3 pb-3" *ngFor="let item of slideShowItems; let i=index">
            <div class="col-12 col-md-1 pl-1 pr-1 my-1 my-md-0" style="margin: 0 auto">
              <img src="{{ item?.image }}" class="img-fluid" *ngIf="item?.image != null || item?.image != ''" name="image" id="jumbotronPreview">
            </div>
            <div class="col-12 col-md pl-1 pr-1 mt-1 mt-md-0">
              <input type="text" class="form-control form-control-sm" name="title" id="title" placeholder="Title" value="{{ item?.title }}" [(ngModel)]="slideShowItems[i].title" [ngModelOptions]="{standalone:true}">
              <textarea rows="2" class="form-control form-control-sm mt-1" name="description" id="description" placeholder="Description" value="{{ item?.description }}" [(ngModel)]="slideShowItems[i].description" [ngModelOptions]="{standalone:true}"></textarea>
            </div>
            <div class="col-12 col-md-3 pl-1 pr-1 mt-1 mt-md-0">
              <input type="text" class="form-control form-control-sm" name="url" id="url" placeholder="URL" [value]="item?.url" [(ngModel)]="slideShowItems[i].url" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="col-12 col-md-2 pl-1 pr-1 mt-1 mt-md-0">
              <input type="text" class="form-control form-control-sm" name="action" id="action" placeholder="Action" [value]="item?.action" [(ngModel)]="slideShowItems[i].action" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="col-12 col-md-auto pl-1 pr-1 mt-1 mt-md-0 text-center">
              <button type="button" class="close regular-text d-none d-md-inline-block" (click)="removeSlideShowItem(i)">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <a class="d-inline-block d-md-none text-green underline pointer" (click)="removeSlideShowItem(i)">Remove</a>
            </div>
          </div>
          <div class="row border-bottom pt-3 pb-3" *ngFor="let item of tempSlideShowItems; let i=index">
            <div class="col-12 col-md-1 pl-1 pr-1 my-1 my-md-0" style="margin: 0 auto">
              <img src="{{ item?.image }}" class="img-fluid" *ngIf="item?.image != null || item?.image != ''" id="jumbotronPreview">
            </div>
            <div class="col-12 col-md pl-1 pr-1 mt-1 mt-md-0">
              <input type="text" class="form-control form-control-sm" id="title" placeholder="Title" value="{{ item?.title }}" [(ngModel)]="tempSlideShowItems[i].title" [ngModelOptions]="{standalone:true}">
              <textarea rows="2" class="form-control form-control-sm mt-1" id="description" placeholder="Description" value="{{ item?.description }}" [(ngModel)]="tempSlideShowItems[i].description" [ngModelOptions]="{standalone:true}"></textarea>
            </div>
            <div class="col-12 col-md-3 pl-1 pr-1 mt-1 mt-md-0">
              <input type="text" class="form-control form-control-sm" id="url" placeholder="URL" [value]="item?.url" [(ngModel)]="tempSlideShowItems[i].url" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="col-12 col-md-2 pl-1 pr-1 mt-1 mt-md-0">
              <input type="text" class="form-control form-control-sm" id="action" placeholder="Action" [value]="item?.action" [(ngModel)]="tempSlideShowItems[i].action" [ngModelOptions]="{standalone:true}">
            </div>
            <div class="col-12 col-md-auto pl-1 pr-1 mt-1 mt-md-0 text-center">
              <button type="button" class="close regular-text d-none d-md-inline-block" (click)="removeTempSlideShowItem(i)">
                <span aria-hidden="true"><i class="fas fa-times"></i></span>
              </button>
              <a class="d-inline-block d-md-none text-green underline pointer" (click)="removeSlideShowItem(i)">Remove</a>
            </div>
          </div>
          <form [formGroup]="slideShowFormGroup">
            <div class="row pt-3 pb-0">
              <div class="col-12 col-md-1 pl-1 pr-1 text-center my-1 my-md-0" style="margin: 0 auto">
                <label for="image" class="custom-file-upload">
                  <span class="btn btn-light pt-1 pb-1 pl-2 pr-2" *ngIf="slideShowFormGroup.controls.image.value === null || slideShowFormGroup.controls.image.value === '' || slideShowFormGroup.controls.image.value === undefined"><i class="fas fa-image" style="font-size: 1.5rem;"></i></span>
                  <img src="{{ slideShowFormGroup.controls.image.value }}" id="image" class="img-fluid" *ngIf="slideShowFormGroup.controls.image.value !== null && slideShowFormGroup.controls.image.value !== '' && slideShowFormGroup.controls.image.value !== undefined">
                </label>
                <input type="file" class="form-control form-control-sm image-upload-input pb-0" id="image" placeholder="Image" accept="image/*" (change)="onFileChange($event)">
                <img *ngIf="isImageUploading" class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
              </div>
              <div class="col-12 col-md pl-1 pr-1 mt-1 mt-md-0">
                <input type="text" class="form-control form-control-sm" formControlName="title" id="title" placeholder="Title">
                <textarea rows="2" class="form-control form-control-sm mt-1" formControlName="description" id="description" placeholder="Description"></textarea>
              </div>
              <div class="col-12 col-md-3 pl-1 pr-1 mt-1 mt-md-0">
                <input type="text" class="form-control form-control-sm" formControlName="url" id="url" placeholder="URL">
              </div>
              <div class="col-12 col-md-2 pl-1 pr-1 mt-1 mt-md-0">
                <input type="text" class="form-control form-control-sm" formControlName="action" id="action" placeholder="Action">
              </div>
              <div class="col-12 col-md-auto pl-1 pr-1 mt-1 mt-md-0">
                <button type="button" class="close regular-text d-none d-md-inline-block" style="visibility: hidden;">
                  <span aria-hidden="true"><i class="fas fa-times"></i></span>
                </button>
              </div>
            </div>
          </form>
          <div class="row pb-3">
            <div class="col text-right">
              <button type="button" class="btn btn-sm btn-light" (click)="addSlideShowItem()"><i class="fas fa-plus mr-2"></i> Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="footerDescription" class="col-lg-2 col-form-label col-form-label-sm">Footer Description</label>
      <div class="col-lg-10">
        <textarea rows="3" class="form-control form-control-sm" formControlName="footerDescription" id="footerDescription" placeholder="Footer Description" value="{{ content?.footerDescription }}"></textarea>
        <p class="text-danger" *ngIf="!!editContentFormGroup.controls.footerDescription.errors?.required && submitted">Footer Description is required</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-secondary btn-sm mr-1" (click)="resetContent()">Reset</button>
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="loading || isImageUploading" (click)="saveContent()">Save Homepage Content</button>
      <img *ngIf="loading" class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    </div>
  </form>
  </div>

  <hr class="mt-3 mb-3">

  <div class="block">
  <h5 class="title">Contact Details</h5>
  <form [formGroup]="editContactFormGroup">
    <div class="form-group row">
      <label for="contactNo" class="col-lg-2 col-form-label col-form-label-sm">Contact No.</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="contactNo" id="contactNo" placeholder="Contact No.">
        <p class="text-danger" *ngIf="!!editContactFormGroup.controls.contactNo.errors?.required && submitted">Contact No. is required</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="address" class="col-lg-2 col-form-label col-form-label-sm">Address</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="address" id="address" placeholder="Address">
        <p class="text-danger" *ngIf="!!editContactFormGroup.controls.address.errors?.required && submitted">Address is required</p>
      </div>
    </div>
    <div class="form-group row">
      <label for="email" class="col-lg-2 col-form-label col-form-label-sm">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="email" id="email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
        <p class="text-danger" *ngIf="!!editContactFormGroup.controls.email.errors?.pattern && submitted">Invalid email</p>
        <p class="text-danger" *ngIf="!!editContactFormGroup.controls.email.errors?.required && submitted">Email is required</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-secondary btn-sm mr-1" (click)="resetContact()">Reset</button>
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="loading" (click)="saveContact()">Save Contact Details</button>
      <img *ngIf="loading" class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    </div>
  </form>
  </div>

  <hr class="mt-3 mb-3">

  <div class="block mb-3">
  <h5 class="title">Social Media Accounts</h5>
  <form [formGroup]="editSocialMediaFormGroup" class="mb-5">
    <div class="form-group row">
      <label for="facebook" class="col-lg-2 col-form-label col-form-label-sm">Facebook</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="facebook" id="facebook" placeholder="Facebook">
      </div>
    </div>
    <div class="form-group row">
      <label for="instagram" class="col-lg-2 col-form-label col-form-label-sm">Instagram</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="instagram" id="instagram" placeholder="Instagram">
      </div>
    </div>
    <div class="form-group row">
      <label for="trademe" class="col-lg-2 col-form-label col-form-label-sm">Trademe</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="trademe" id="trademe" placeholder="Trademe">
      </div>
    </div>
    <div class="form-group row">
      <label for="twitter" class="col-lg-2 col-form-label col-form-label-sm">Twitter</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="twitter" id="twitter" placeholder="Twitter">
      </div>
    </div>
    <div class="form-group row">
      <label for="youtube" class="col-lg-2 col-form-label col-form-label-sm">Youtube</label>
      <div class="col-lg-10">
        <input type="text" class="form-control form-control-sm" formControlName="youtube" id="youtube" placeholder="Youtube">
      </div>
    </div>
    <div class="row justify-content-center">
      <button type="submit" class="btn btn-secondary btn-sm mr-1" (click)="resetSocialMedia()">Reset</button>
      <button type="submit" class="btn btn-primary btn-sm" [disabled]="loading" (click)="saveSocialMedia()">Save Social Media Accounts</button>
      <img *ngIf="loading" class="loading-img" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==">
    </div>
  </form>
  </div>

</div>

<!-- Message Modal -->
<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="messageModalTitle" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="messageModalTitle">Content Saved</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Homepage Content Saved
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
